body {
    background-image: url('./img/cat-4876360_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    margin: 0; 
}

.chat-container {
    background-color: #575757fb;
    margin: 0px;
    margin-top: 300px;
    /* box-sizing: border-box; */
    border: 10px solid #2f3338;
    border-radius: 20px;
}

.content {
    height: 400px;
    margin: 4px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
    border-top: 5px solid #2f3338;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3338;
}

.footer input[type="text"],
.footer button {
    flex: 4;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 15px;
}

.footer button {
    flex: 1;
    padding: 3px;
    margin-right: 15px;
}