<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
        <script src="../static/chat.js" defer> </script>
        <title>AFTER LIFE</title>
    </head>

    <body>
        <div class="chat-container">
            <!-- Your content here -->
            <div class="content">
                <p id="messages"></p>
            </div>

            <div class="footer">
                <input type="text" id="messageInput">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </body>
</html>